.payment-screen {
  &__label {
    display: flex;
    align-items: center;
    font-size: 2rem;
    width: fit-content;
    &--disabled {
      color: $color-grey-light-2;
    }
  }
  &__payment-icon {
    font-size: 3rem;
    &--disabled {
      fill: $color-grey-light-2;
    }
  }
  &__ship-btn {
    @include custom-btn;
    padding: 1rem 4rem;
  }
  &__arrows {
    animation: arrows 1s ease infinite alternate-reverse;
    color: white;

    font-weight: 600;
  }
}

@keyframes arrows {
  from {
    transform: translateX(0.5rem);
  }
  to {
    transform: translateX(3.5rem);
  }
}

input[type="radio"]:after {
  cursor: pointer;
  width: 2rem;
  height: 2rem;
  border-radius: 0.5rem;
  top: -2px;
  left: -1px;
  position: relative;
  background-color: $color-grey-light-2;
  content: "";
  display: inline-block;
  visibility: visible;
  border: 2px solid white;
  box-shadow: $shadow-normal;
  transition: all 0.3s;
}

input[type="radio"]:checked:after {
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  top: -2px;
  left: -1px;
  position: relative;
  background-color: $color-cta;
  box-shadow: $shadow-normal;
  content: "";
  display: inline-block;
  visibility: visible;
  border: 2px solid white;
  transition: all 0.3s;
}
