@import "../../sass/base";

.home-screen{
   
    &__top{
        height: 10rem;
        width: 100%;
       background-image: linear-gradient(to bottom, rgba($color-cta,.7), rgba($color-primary,.95)),url(../../assets/pattern.jpeg);
       background-size: contain;
       background-repeat: repeat;
       background-position: center;
        border-radius: 2rem;
       overflow-y: hidden;
        display: flex;
        justify-content: center;
        position: relative;
        &::after{
            content: "";
            position: absolute;
            width: 15rem;
            height: 15rem;
            background-color: white;
            border-radius: 50%;
            top: -7.5rem;
        }
        &::before{
            content: "";
            position: absolute;
            width: 1rem;
            height: 100%;
            background-color: white;

        }
        
    }
    &__title{
        z-index: 3;
        margin-top: .75rem;
    }
    &__products{
       
        margin-top: 4rem;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 15rem;
        width: 95%;
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
        align-items: center;
        justify-items: center;
        row-gap: 2rem;
        column-gap: 2rem;
    }
   
}