@import "../../sass/base";

.error-message {
  margin: 0 auto;
  margin-top: 2rem;
  background-color: rgba($color: $color-alert, $alpha: 0.3);
  width: 50%;
  height: fit-content;
  padding: 0.2rem;
  border-radius: 0.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.6rem;
  color: rgb(255, 98, 98);
  font-weight: bold;
}
