.complete-order {
  &__grid {
    display: grid;
    grid-template-columns: 70% 30%;
  }
  &__steps-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(20rem, 1fr));
    column-gap: 1rem;
    row-gap: 1rem;
    padding: 1rem;
    border-bottom: 1px solid $color-grey-light-2;
  }

  &__steps-title {
    font-weight: 900;
    letter-spacing: 0.2rem !important;
  }
  &__change-link {
    font-size: 1.3rem;
    color: $color-cta-2;
    justify-self: flex-end;
    align-self: center;
    cursor: pointer;
    transition: $transition;
    &:hover {
      text-decoration: underline;
    }
  }
  &__middle-text {
    font-size: 1.2rem;
    font-weight: 600;
    color: $color-grey-dark-2;
  }
  &__payment-info {
    grid-row: 2/3;
  }
  &__shipment-info {
    grid-row: 3/4;
  }
  &__products-info {
    grid-row: 4/5;
  }

  &__item {
    display: flex;
    flex: 30% 70%;
    margin-bottom: 1rem;
    align-items: center;
    padding: 0.5rem;
    border-radius: 0.5rem;
  }
  &__image {
    cursor: pointer;
    width: 12rem;
    height: 10rem;
    object-fit: contain;
    margin-right: 2rem;
    transition: $transition;
    &:hover {
      transform: scale(0.9);
    }
  }
  &__item-details {
    background-color: $color-grey-light-1;
    border-radius: 0.5rem;
    padding: 0 1rem;
    z-index: 3;
    display: grid;
    width: 100%;
    grid-template-columns: 60% 40%;
    grid-template-rows: 1fr 1fr 1fr;
    row-gap: 0.5rem;
    overflow-x: hidden;
    position: relative;
    &::after {
      z-index: -1;
      content: "";
      position: absolute;
      width: 100%;
      height: 100%;
      border-top: 1px solid $color-cta;
      transform: translateX(-100%);
      transition: all 0.4s ease-in-out;
    }
    &::before {
      z-index: -1;
      content: "";
      position: absolute;
      width: 100%;
      height: 100%;

      border-bottom: 1px solid $color-primary;
      transform: translateX(100%);
      transition: all 0.4s ease-in-out;
    }
    &--title {
      grid-row: 2/3;
      align-self: center;
      font-size: 1.6rem;
      cursor: pointer;
      width: fit-content;
      &:hover {
        color: $color-primary;
      }
    }
    &--price {
      grid-column: 2/3;
      align-self: center;
      font-weight: bold;
      text-align: center;
    }
    &--price-value {
      align-self: center;
      display: flex;
      align-items: center;
      justify-content: center;
      font-weight: bold;
    }
  }
  &__quantity-selector {
    &--text {
      margin-right: 1rem;
    }
    &--selection {
      width: 4rem;
      height: 3rem;
      padding: 0.3rem;
      border: 1px solid $color-primary;
      border-radius: 0.5rem;
    }
  }
  &__remove {
    cursor: pointer;
    color: $color-alert;
    height: 50%;
    grid-column: 2/3;
    width: 25%;
    align-self: center;
    justify-self: end;
    text-align: end;
    font-size: 1.2rem;
    font-weight: bold;
  }
  &__summary {
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: 100%;
    margin-left: 2rem;
    background-color: $color-grey-light-1;
    grid-column: 2/3;
    grid-row: 1/4;
    border-radius: 0.5rem;
    box-shadow: $shadow-normal;
    padding: 2.5rem 2rem;
    &--title {
      grid-column: 1/3;
      align-self: center;
      justify-self: center;
    }
    &--text {
      align-self: center;
      justify-self: flex-start;
    }
    &--value {
      font-size: 1.6rem;
      align-self: center;
      justify-self: flex-end;
    }
    &--total {
      width: 100%;
      align-self: flex-end;
      color: $color-cta;
    }
    &--total-value {
      width: 100%;
      color: $color-cta;
      align-self: flex-end;
      text-align: end;
    }
  }
  &__btn {
    grid-column: 1/3;
    padding: 1rem;
    width: 75%;
    height: 4rem;
    justify-self: center;
  }
  &__buy-btn {
    @include custom-btn;
  }
}

.complete-order__item:hover .complete-order__item-details::after {
  transform: translateX(0);
}
.complete-order__item:hover .complete-order__item-details::before {
  transform: translateX(0);
}
