@import "../../sass/base";

.cart {
  z-index: 20;
  opacity: 0;
  position: fixed;
  top: 8rem;
  right: 0;
  transform: translateX(100%);
  height: calc(100vh - 8rem);
  max-width: 100vw;
  width: 48rem;
  background-color: white;
  z-index: 20;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-self: center;
  padding: 1rem;
  overflow-y: scroll;
  overflow-x: hidden;
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
  &::-webkit-scrollbar {
    display: none;
  }
  &__top {
    margin-bottom: 1rem;
    &--text {
      font-size: 1.5rem;
      color: $color-grey-dark-2;
    }
  }
  &__checkout {
    width: 100%;
    margin-top: auto;
    text-align: center;
    &--btn {
      @include custom-btn;
      width: 100%;
      padding: 1rem;
      border-radius: 0.25rem;
    }
  }
  &__item {
    width: 100%;
    height: 10rem;
    display: grid;
    grid-template-columns: 28% 70%;
    margin-bottom: 1rem;
    column-gap: 2%;

    &--image-container {
      grid-column: 1/2;
      height: 100%;
      width: 100%;

      overflow: hidden;
    }
    &--image {
      width: 100%;
      height: 100%;
      object-fit: contain;
      object-position: center;
      cursor: pointer;
      transition: $transition;
      &:hover {
        transform: scale(0.9);
      }
    }
  }
  &__details {
    z-index: 1;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    overflow-x: hidden;
    position: relative;
    &::after {
      z-index: 0;
      content: "";
      position: absolute;
      width: 100%;
      height: 100%;
      border-top: 1px solid $color-cta;
      transform: translateX(-100%);
      transition: all 0.4s ease-in-out;
    }
    &::before {
      z-index: 0;
      content: "";
      position: absolute;
      width: 100%;
      height: 100%;

      border-bottom: 1px solid $color-primary;
      transform: translateX(100%);
      transition: all 0.4s ease-in-out;
    }
    &--title {
      z-index: 2;
      grid-column: 1/3;
      align-self: center;
      display: flex;
      align-items: center;
      justify-content: space-between;
      color: $color-grey-dark-2;
      font-family: $font-special;
      font-weight: 800;
      font-size: 1.4rem;
      cursor: pointer;
      transition: color 0.2s;
      &:hover {
        color: $color-primary;
        font-weight: 600;
      }
    }
    &--delete {
      z-index: 2;
      cursor: pointer;
      color: $color-alert;
      font-size: 1.6rem;
      transition: $transition;
      position: relative;

      &:hover {
        transform: scale(1.3);
      }
    }
    &--price {
      align-self: center;
      color: $color-grey-dark-2;
    }
    &--price-value {
      color: $color-grey-dark-2;
    }
    &--quantity {
      align-self: center;
      justify-self: flex-end;
      color: $color-grey-dark-2;
    }
    &--quantity-value {
      font-size: 1.6rem;
    }
    &--total {
      align-self: center;
      font-weight: bold;

      font-size: 1.4rem;
      color: $color-grey-dark-2;
    }
    &--total-value {
      align-self: center;
      justify-self: flex-end;
      font-size: 1.8rem;
    }
  }
  &__subtotal {
    padding-top: 1rem;
    width: 100%;
    padding-left: 30%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-top: 1px solid $color-grey-light-2;
    &--text {
      font-size: 1.4rem;
    }
    &--value {
      font-size: 1.8rem;
      color: $color-alert;
    }
  }
}

.cart__item:hover .cart__details::after {
  transform: translateX(0);
}
.cart__item:hover .cart__details::before {
  transform: translateX(0);
}
