@import "../../sass/base";

.cart {
  opacity: 0;
  position: fixed;
  top: 8rem;
  right: 0;
  transform: translateX(100%);
  height: calc(100vh - 8rem);
  width: 48rem;
  background-color: white;

  z-index: 20;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-self: center;
  padding: 1rem;
  overflow-y: scroll;
  overflow-x: hidden;
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
  &::-webkit-scrollbar {
    display: none;
  }
  &__top {
    margin-bottom: 1rem;
    &--text {
      font-size: 1.5rem;
      color: $color-grey-dark-2;
    }
  }
  &__checkout {
    width: 100%;
    margin-top: auto;
    text-align: center;
    &--btn {
      @include custom-btn;
      width: 100%;
      padding: 1rem;
      border-radius: 0.25rem;
    }
  }
  &__item {
    width: 100%;
    height: 10rem;
    display: grid;
    grid-template-columns: 28% 70%;
    margin-bottom: 1rem;
    column-gap: 2%;

    &--image-container {
      grid-column: 1/2;
      height: 100%;
      width: 100%;

      overflow: hidden;
    }
    &--image {
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: bottom;
    }
  }
  &__details {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    border-top: 1px solid$color-grey-light-1-2;
    border-bottom: 1px solid$color-grey-light-1-2;
    &--title {
      grid-column: 1/3;
      align-self: center;
      justify-self: center;
      font-family: $font-special;
      font-weight: 600;
      font-size: 1.3rem;
    }
    &--price {
      align-self: center;
    }
    &--price-value {
      color: $color-alert;
    }
    &--quantity {
      align-self: center;
      justify-self: flex-end;
    }
    &--quantity-value {
      font-size: 1.6rem;
    }
    &--total {
      align-self: center;
      font-weight: bold;
      font-family: $font-primary;
      font-size: 1.4rem;
    }
    &--total-value {
      align-self: center;
      justify-self: flex-end;
      font-size: 1.8rem;
    }
  }
  &__subtotal {
    width: 100%;
    padding-left: 30%;
    display: flex;
    align-items: center;
    justify-content: space-between;

    &--text {
      font-size: 1.4rem;
    }
    &--value {
      font-size: 1.8rem;
      color: $color-alert;
    }
  }
}
