@import "../../sass/base";

.to-cart-visual {
  position: fixed;
  top: 8.1rem;
  right: 8.5rem;
  color: $color-cta;
  animation: showAction 1s infinite alternate-reverse;
  &__arrow {
    font-size: 2rem;
  }
}

@keyframes showAction {
  from {
    opacity: 0.9;
    transform: translateY(0rem);
  }
  to {
    opacity: 0.5;
    transform: translateY(1rem);
  }
}
