.sidebar {
  transform: scaleY(0);
  padding: 2rem;
  animation: 0.2s scale-down forwards;
  transform-origin: top;
  position: absolute;
  top: 12.2rem;
  left: 0;
  width: 100%;
  background-color: white;
  z-index: 20;
  box-shadow: $shadow-normal;

  &__welcome-message {
    text-align: center;
    font-size: 1.8rem;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 4rem;
    &--icon {
      margin-right: 1rem;
      font-size: 3rem;
    }
  }
  &__text {
    color: $color-cta-2;
    font-size: 2.6rem;
    border-bottom: 1px solid $color-grey-light-1;

    &:not(:last-child) {
      margin-bottom: 2rem;
    }
    &:last-child {
      margin-bottom: 4rem;
    }
  }
  &__profile-links {
    margin-bottom: 4rem;
  }
  &__logout {
    font-size: 2rem;
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }
  &__signin-message {
    width: 100%;
    margin-bottom: 4rem;
    &--text {
      font-size: 1.4rem;
      text-align: center;
      margin-bottom: 2rem;
    }
    &--button {
      @include custom-btn-secondary;
      margin-bottom: 1rem;
    }
  }
}

@keyframes scale-down {
  from {
    transform: scaleY(0);
  }
  to {
    transform: scaleY(1);
  }
}
