//! COLOR VARIABLES =====================================================

$color-primary: rgb(32, 179, 188);
$color-primary-dark: rgb(15, 15, 15);
$color-cta: rgb(255, 11, 243);
$color-cta-2: rgb(18, 30, 207);

$color-pallete-1: rgb(229, 250, 243);
$color-pallete-2: rgb(28, 207, 58);
$color-pallete-3: rgb(33, 226, 162);
$color-pallete-4: rgb(24, 209, 178);

$color-alert: rgb(253, 62, 62);

$color-grey-light-1: rgb(247, 247, 247);
$color-grey-light-1-2: rgb(212, 212, 212);

$color-grey-dark-1: rgb(32, 32, 32);
$color-grey-dark-2: #353535;

//! FONT VARIABLES =====================================================

$font-primary: "Poppins", sans-serif;

$font-special: "Inconsolata", monospace;

//! SHADOWS ============================================================

$shadow-normal: 0 3px 6px rgba(0, 0, 0, 0.05), 0 2px 8px rgba(0, 0, 0, 0.15);
$shadow-normal-hover: 0 1rem 2rem
    rgba(
      $color: #000000,
      $alpha: 0.075,
    ),
  0 0.5rem 1.5rem
    rgba(
      $color: #000000,
      $alpha: 0.025,
    ),
  0 0.25rem 0.75rem
    rgba(
      $color: $color-pallete-1,
      $alpha: 0.3,
    );

$shadow-normal-strong: 0 1rem 2rem
    rgba(
      $color: #000000,
      $alpha: 0.1,
    ),
  0 0.5rem 1.5rem
    rgba(
      $color: #000000,
      $alpha: 0.5,
    ),
  0 0.25rem 0.75rem
    rgba(
      $color: $color-pallete-1,
      $alpha: 0.2,
    );

.line-break {
  margin-top: 2rem;
  margin-bottom: 2rem;
  border-bottom: 1px solid rgba($color: $color-cta, $alpha: 0.3);
}

$shadow-young: -0.5rem 0.5rem 0 #10162f;
$shadow-young-clicked: -0.25rem 0.25rem 0 #10162f;

$translate-hover: translateY(-0.5rem);

//!TYPOGRAPHY ===========================================================

%heading {
  font-family: $font-special;
  font-weight: 400;
  letter-spacing: 0.1rem;
}

.heading-1 {
  @extend %heading;
  font-size: 3rem;

  &--light {
    color: $color-pallete-1;
  }
  &--dark {
    color: $color-grey-dark-1;
  }
}
.heading-2 {
  @extend %heading;
  font-size: 2.6rem;

  &--light {
    color: $color-pallete-1;
  }
  &--dark {
    color: $color-grey-dark-1;
  }
}
.heading-3 {
  @extend %heading;
  font-size: 1.8rem;
  margin-bottom: 2rem;
  color: $color-grey-dark-2;
  text-transform: uppercase;
  font-weight: 600;
}
.heading-4 {
  @extend %heading;
  font-size: 1.4rem;
  font-weight: 600;
  &--light {
    color: $color-pallete-1;
  }
  &--dark {
    color: $color-primary-dark;
  }
  &--center {
    text-align: center;
  }
}

.in-stock {
  color: $color-pallete-2;
  font-weight: 400;
  font-size: 1.4rem;
}
.out-of-stock {
  color: $color-alert;
}

//!PADDINGS AND MARGINS =====================================================

.mt-xs {
  margin-top: 1rem;
}
.mt-sm {
  margin-top: 2rem;
}
.mt-md {
  margin-top: 4rem;
}
.mt-lg {
  margin-top: 8rem;
}
.mb-sm {
  margin-bottom: 2rem;
}

.mb-md {
  margin-bottom: 4rem;
}

.mb-lg {
  margin-bottom: 8rem;
}

//! CUSTOM COMPONENTS =====================================================

@mixin custom-btn {
  cursor: pointer;
  border: none;
  background-color: $color-pallete-3;
  border-radius: 0.5rem;
  transition: all 0.2s;
  text-transform: uppercase;
  font-family: $font-special;
  letter-spacing: 0.2rem;
  font-weight: 600;
  color: $color-grey-dark-1;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: inset 2px 2px 8px rgba($color: $color-pallete-3, $alpha: 0.1),
    inset -2px -2px 8px rgba($color: $color-pallete-3, $alpha: 0.1);

  &:hover {
    background-color: $color-pallete-4;
    color: white;
  }
}
@mixin custom-btn-disabled {
  cursor: not-allowed;
  border: none;
  background-color: rgba($color: $color-grey-dark-1, $alpha: 0.9);
  font-family: $font-special;
  letter-spacing: 0.2rem;
  border-radius: 0.5rem;
  text-transform: uppercase;
  font-weight: 600;
  color: $color-grey-light-1;
  display: flex;
  align-items: center;
  justify-content: center;
}
