//! COLOR VARIABLES =====================================================

$color-primary: #18cad3;
$color-primary-dark: rgb(15, 15, 15);
$color-cta: #ff0bf3;
$color-cta-2: #6412cf;

$color-pallete-1: #e5faf3;
$color-pallete-2: #1ccf3a;
$color-pallete-3: #21e2a2;
$color-pallete-4: #18d1b2;
$color-pallete-5: #ccffeb;
$color-link: #1849d1;

$color-alert: #fd3e3e;

$color-grey-light-1: #f7f7f7;
$color-grey-light-2: #d4d4d4;

$color-grey-dark-1: rgb(32, 32, 32);
$color-grey-dark-2: #4e4e4e;

//! FONT VARIABLES =====================================================

$font-primary: "Poppins", sans-serif;

$font-special: "Inconsolata", monospace;

//! SHADOWS ============================================================

$shadow-normal: 0 3px 6px rgba(0, 0, 0, 0.05), 0 2px 8px rgba(0, 0, 0, 0.15),
  2px 2px 0.5rem
    rgba(
      $color: #ff0bf3,
      $alpha: 0.075,
    );
$shadow-normal-hover: 0 1rem 2rem
    rgba(
      $color: #000000,
      $alpha: 0.075,
    ),
  0 0.5rem 1.5rem
    rgba(
      $color: #000000,
      $alpha: 0.025,
    ),
  0 0.25rem 0.75rem
    rgba(
      $color: $color-pallete-1,
      $alpha: 0.3,
    );

$shadow-normal-strong: 0 1rem 2rem
    rgba(
      $color: #000000,
      $alpha: 0.1,
    ),
  0 0.5rem 1.5rem
    rgba(
      $color: #000000,
      $alpha: 0.5,
    ),
  0 0.25rem 0.75rem
    rgba(
      $color: $color-pallete-1,
      $alpha: 0.2,
    );

$shadow-young: -0.5rem 0.5rem 0 #10162f;
$shadow-young-clicked: -0.25rem 0.25rem 0 #10162f;

$translate-hover: translateY(-0.5rem);

//! CUSTOM COMPONENTS =====================================================

@mixin custom-btn {
  cursor: pointer;
  border: none;
  background-color: $color-pallete-3;
  font-family: $font-special;
  letter-spacing: 0.2rem;
  border-radius: 0.5rem;
  transition: all 0.2s;
  text-transform: uppercase;
  font-weight: 600;
  color: $color-grey-dark-1;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: inset 2px 2px 8px rgba($color: $color-pallete-1, $alpha: 0.5),
    inset -2px -2px 8px rgba($color: $color-pallete-1, $alpha: 0.5);

  &:hover {
    background-color: $color-pallete-4;
    color: white;
  }
}

@mixin custom-btn-disabled {
  cursor: not-allowed;
  border: none;
  background-color: rgba($color: $color-grey-dark-1, $alpha: 0.9);
  font-family: $font-special;
  letter-spacing: 0.2rem;
  border-radius: 0.5rem;
  text-transform: uppercase;
  font-weight: 600;
  color: $color-grey-light-1;
  display: flex;
  align-items: center;
  justify-content: center;
}

@mixin custom-btn-secundary {
  border: 1px solid $color-pallete-3;
  color: $color-cta-2 !important;
  display: flex;
  align-items: center;
  width: 45%;
  justify-content: center;
  font-size: 1.4rem;
  background-color: $color-pallete-1;
  border-radius: 0.5rem;
  padding: 0.5rem 1rem;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  &:hover {
    box-shadow: $shadow-normal;
    background-color: $color-pallete-4;
    color: $color-pallete-1 !important;
  }
}
