//! COLOR VARIABLES =====================================================

$color-primary: rgb(32, 179, 188);
$color-primary-dark: rgb(0, 0, 0);
$color-cta: rgb(2, 168, 18);

$color-yellow-1: rgb(254, 248, 219);
$color-yellow-2: rgb(254, 217, 133);
$color-yellow-3: rgb(233, 135, 90);
$color-yellow-4: rgb(255, 180, 3);

$color-alert: rgb(253, 62, 62);
$color-grey-light: rgb(247, 247, 247);
$color-grey-dark-1: rgb(151, 151, 151);
$color-grey-dark-2: #252525;

//! FONT VARIABLES =====================================================

$font-primary: "Tenor Sans", sans-serif;
$font-secondary: "Raleway", sans-serif;
$font-special: "Inconsolata", monospace;

//! SHADOWS ============================================================

$shadow-normal: 0 1rem 2rem
    rgba(
      $color: #000000,
      $alpha: 0.05,
    ),
  0 0.5rem 1.5rem
    rgba(
      $color: #000000,
      $alpha: 0.025,
    ),
  0 0.25rem 0.75rem
    rgba(
      $color: $color-yellow-1,
      $alpha: 0.2,
    );
$shadow-normal-hover: 0 1rem 2rem
    rgba(
      $color: #000000,
      $alpha: 0.075,
    ),
  0 0.5rem 1.5rem
    rgba(
      $color: #000000,
      $alpha: 0.025,
    ),
  0 0.25rem 0.75rem
    rgba(
      $color: $color-yellow-1,
      $alpha: 0.3,
    );

$shadow-young: -0.5rem 0.5rem 0 #10162f;
$shadow-young-clicked: -0.25rem 0.25rem 0 #10162f;

$translate-hover: translateY(-0.5rem);

//!TYPOGRAPHY ===========================================================

%heading {
  font-family: $font-special;
  font-weight: 400;
}

.heading-1 {
  @extend %heading;
  font-size: 3rem;
  font-weight: 600;
  &--light {
    color: $color-yellow-1;
  }
  &--dark {
    color: $color-grey-dark-1;
  }
}
.heading-2 {
  @extend %heading;
  font-size: 2.8rem;
  font-style: italic;
  line-height: 1.2;
  &--light {
    color: $color-yellow-1;
  }
  &--dark {
    color: $color-grey-dark-1;
  }
}
.heading-3 {
  @extend %heading;
  font-size: 1.6rem;
  color: $color-cta;
  text-transform: uppercase;
}
.heading-4 {
  @extend %heading;
  font-size: 1.4rem;
  font-weight: 600;
  &--light {
    color: $color-yellow-1;
  }
  &--dark {
    color: $color-primary-dark;
  }
  &--center {
    text-align: center;
  }
}

//!PADDINGS AND MARGINS =====================================================

.mt-xs {
  margin-top: 1rem;
}
.mt-sm {
  margin-top: 2rem;
}
.mt-md {
  margin-top: 4rem;
}
.mt-lg {
  margin-top: 8rem;
}
.mb-sm {
  margin-bottom: 2rem;
}

.mb-md {
  margin-bottom: 4rem;
}

.mb-lg {
  margin-bottom: 8rem;
}

//! CUSTOM COMPONENTS =====================================================

@mixin custom-btn {
  cursor: pointer;
  border: none;
  background-color: $color-yellow-2;
  backdrop-filter: blur(0.5rem);
  transition: all 0.2s;
  text-transform: uppercase;
  font-family: $font-special;
  font-weight: 600;
  color: $color-yellow-3;
  display: flex;
  align-items: center;
  justify-content: center;
  &:hover {
    background-color: $color-yellow-3;
    color: $color-yellow-2;
  }
}
@mixin custom-btn-disabled {
  cursor: not-allowed;
  border: none;
  background-color: rgba($color: $color-grey-dark-1, $alpha: 0.9);
  font-family: $font-special;
  backdrop-filter: blur(0.5rem);
  text-transform: uppercase;
  font-weight: 600;
  color: $color-grey-light;
  display: flex;
  align-items: center;
  justify-content: center;
}
