//! CUSTOM COMPONENTS =====================================================
@mixin custom-btn {
  cursor: pointer;
  border: none;
  background-color: $color-pallete-3;
  font-family: $font-special;
  letter-spacing: 0.2rem;
  border-radius: 0.5rem;
  transition: $transition;
  text-transform: uppercase;
  font-weight: 600;
  color: $color-grey-dark-1;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: inset 2px 2px 8px rgba($color: $color-pallete-1, $alpha: 0.5),
    inset -2px -2px 8px rgba($color: $color-pallete-1, $alpha: 0.5);

  &:hover {
    background-color: $color-pallete-4;
    color: white;
  }
  @include respond(phone) {
    font-size: 1.8rem;
    width: 75%;
    padding: 1rem;
    margin-left: auto;
    margin-right: auto;
  }
}

@mixin custom-btn-disabled {
  cursor: not-allowed;
  border: none;
  background-color: rgba($color: $color-grey-dark-1, $alpha: 0.9);
  font-family: $font-special;
  letter-spacing: 0.2rem;
  border-radius: 0.5rem;
  text-transform: uppercase;
  font-weight: 600;
  color: $color-grey-light-1;
  display: flex;
  align-items: center;
  justify-content: center;
}

@mixin custom-btn-secondary {
  border: 1px solid $color-pallete-3;
  color: $color-cta-2 !important;
  display: flex;
  align-items: center;
  width: 45%;
  justify-content: center;
  font-size: 1.4rem;
  background-color: $color-pallete-1;
  border-radius: 0.5rem;
  padding: 0.5rem 1rem;
  cursor: pointer;
  transition: $transition;
  &:hover {
    box-shadow: $shadow-normal;
    background-color: $color-pallete-4;
    color: $color-pallete-1 !important;
  }
  @include respond(phone) {
    font-size: 1.8rem;
    width: auto;
    padding: 1rem 2rem;
  }
}

@mixin respond($breakpoint) {
  @if $breakpoint == phone {
    @media (min-device-width: 320px) and (max-device-width: 480px) {
      @content;
    }
  }

  @if $breakpoint == tab-port {
    @media (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) {
      @content;
    }
  }

  @if $breakpoint == tab-land {
    @media (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) {
      @content;
    }
  }

  @if $breakpoint == desk {
    @media (min-width: 1025px) {
      @content;
    }
  }
}
