@import "../../sass/base";

.checkout-steps {
  padding: 1rem;
  width: 100%;
  height: 10rem;
  background-color: $color-grey-light-1;
  border-radius: 5rem;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 2rem;
  align-items: center;
  justify-items: center;
  box-shadow: $shadow-normal;
  &__progress {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
  }
  &--text {
    cursor: pointer;
    letter-spacing: 0.1rem;
    font-size: 1.6rem;
    color: $color-grey-light-2;
    font-weight: 600;
    display: flex;
    align-items: center;
    justify-content: space-between;
    transition: all 0.2s;
    transform: scale(1);
    position: relative;
    padding: 0.2rem;
    overflow: hidden;

    &--selected {
      color: $color-pallete-4;
      animation: fadeIn 1s ease;
      &::after {
        display: inline-block;
        content: "";
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 100%;
        border-bottom: 1px solid $color-cta;
        transform: translateX(-100%);
        transition: all 0.3s ease-in-out;
      }
    }
  }
  &--arrows {
    color: $color-grey-light-2;
    font-size: 1.8rem;
    &--selected {
      color: $color-pallete-4;
      animation: fadeIn 1s ease;
    }
    &--animate {
      animation: moveLeft 1s ease infinite alternate-reverse,
        colorChange 1s ease;
    }
  }
  &__number {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 4rem;
    font-family: $font-special;
    margin-right: 1rem;
    width: 8rem;
    height: 8rem;
    border-radius: 50%;
    background-color: $color-grey-light-2;
    color: white;
    box-shadow: inset 2px 2px 4px rgba($color: #000000, $alpha: 0.2);
    &--selected {
      animation: fadeIn 1s ease;
      background-color: $color-pallete-4;
      box-shadow: inset 2px 2px 6px rgba($color: $color-pallete-1, $alpha: 0.6),
        inset -2px -2px 6px rgba($color: $color-pallete-1, $alpha: 0.6);
    }
  }
}
.checkout-steps__container:hover .checkout-steps--text--selected::after {
  transform: translateX(0);
}
@keyframes moveLeft {
  from {
    opacity: 0;
    transform: translateX(-4rem);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes fadeIn {
  from {
    opacity: 0.2;
  }
  to {
    opacity: 1;
  }
}
