.search-box {
  width: 75%;
  position: relative;
  margin: 0 auto;
  &__input {
    padding: 0.5rem;
    border-radius: 0.5rem;
    border: 1px solid $color-primary;
    font-family: $font-primary;
    line-height: 1;
    width: 100%;
    outline: transparent;
    &::placeholder {
      color: $color-grey-light-2;
    }
    @include respond(phone) {
      padding: 1rem;
    }
  }
  &__search-btn {
    cursor: pointer;
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    line-height: 1;
    display: flex;
    align-items: center;
    background-color: $color-pallete-1;
    color: $color-cta-2;
    border: 1px solid $color-primary;
    padding: 0 1rem;
    border-top-right-radius: 0.5rem;
    border-bottom-right-radius: 0.5rem;
    font-size: 1.8rem;
    transition: $transition;

    &:hover {
      background-color: $color-pallete-4;
      color: $color-pallete-1;
    }
  }
}
.search-box-mobile {
  display: none;
  @include respond(phone) {
    display: block;
    position: relative;
    width: 90%;
    margin: 1rem auto 0 auto;
  }
}
