@import "../../sass/base";

.search-box {
  width: 100%;
  position: relative;
  &__input {
    padding: 0.5rem;
    border-radius: 0.5rem;
    border: 1px solid $color-primary;
    font-family: $font-primary;
    line-height: 1;
    width: 100%;
    outline: transparent;
    &::placeholder {
      color: $color-grey-light-2;
    }
  }
  &__search-btn {
    cursor: pointer;
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    line-height: 1;
    display: flex;
    align-items: center;
    background-color: $color-pallete-1;
    color: $color-cta-2;
    border: 1px solid $color-primary;
    padding: 0 1rem;
    border-top-right-radius: 0.5rem;
    border-bottom-right-radius: 0.5rem;
    font-size: 1.8rem;
    transition: 0.2s all ease-in-out;

    &:hover {
      background-color: $color-pallete-4;
      color: $color-pallete-1;
    }
  }
}
