@import "../../sass/base";

.product-screen{
    &__top-links{
        display: flex;
        align-items: center;
        justify-content: flex-start;
    }
    &__link{
        font-size: 1.4rem;
        color: $color-grey-dark-2;
        transition: all .2s;
        border-bottom: 1px solid transparent;

        &:not(:last-child){
            margin-right: 1rem;
        }
        &:hover{
            border-bottom: 1px solid $color-grey-dark-2;
        }
    }
    &__body{
        display: grid;
        grid-template-columns: repeat(8,1fr);
        grid-template-rows: repeat(auto-fit,1fr);
        row-gap: 1rem;
        column-gap: 1rem;    
    }
    &__image{
        width: 100%;
      grid-column: 1/5;
    }
    &__stock{
        grid-column: 1/3 ;
        font-size:  1.6rem;
        color: $color-cta;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        &--out{
            color: $color-alert;
        }
    }
    
    &__name{
        grid-column: 1/5;
        align-self: center;
        justify-self: center;
    }
    &__price{
        font-family: $font-secondary;
        display: grid;
        column-gap: 2rem;
        row-gap: 2rem;
        grid-template-columns: repeat(4,1fr);
        grid-template-rows: repeat(4,1fr);
        width: 100%;
        grid-row:1/2 ;
        grid-column: 5/9;
        &--title{
            font-size: 2rem;
            justify-self: center;
            align-self: center;
        }
       &--value{
            font-size: 2.4rem;
            color: $color-alert;
            font-weight: 600;
            grid-column: 4/5;
            align-self: center;
            justify-self: center;
       }
    }
    &__button{
      grid-column: 2/4;
      grid-row: 4/5;
      height: 50%;
      width: 50%;
      align-self: center;
      justify-self: center;
      border: 1px solid transparent;
      border-radius: .25rem;
      transition: all .2s;
        @include custom-btn;
        &:hover{
            color: $color-primary-dark;
            border: 1px solid  $color-yellow-3;
            background-color: rgba($color: white, $alpha: .8);
        }
        &--icon{
            margin-right: .5rem;
            font-size: 2rem;
        }
    }
    &__button-disabled{
        @include custom-btn-disabled;
        grid-column: 2/4;
        grid-row: 4/5;
        height: 50%;
        width: 50%;
        align-self: center;
        justify-self: center;
        border: 1px solid transparent;
        border-radius: .25rem;
    }
    &__rating{
        grid-row:2/3;
        grid-column: 7/9;
        align-self: center;
        justify-self: center;
        
    }
    &__add-favorite{
        grid-row: 3/4;
        grid-column: 2/4;
        display: flex;
        align-items: center;
        justify-content: center;
        &--text{
            color: $color-grey-dark-2;
            font-weight: 600;
            letter-spacing: .1rem;
            font-family: $font-special;
            font-size: 1.2rem;
            margin-right: 1rem;
        }
    }
    &__heart{
        cursor: pointer;
        font-size: 2rem;
      
       color:rgba($color:  rgb(187, 187, 187), $alpha: .8);
       &--selected{
        color:rgba($color:  $color-alert, $alpha: .8);
       }
    }
    &__details{
        grid-row: 4/5;
        grid-column: 1/5;

        &--text{
            font-size: 1.6rem;
        }
    }
}