@import "../../sass/base";

.product-screen {
  &__top-links {
    display: flex;
    align-items: center;
    justify-content: flex-start;
  }
  &__link {
    font-size: 1.4rem;
    color: $color-grey-dark-2;
    transition: all 0.2s;
    border-bottom: 1px solid transparent;

    &:not(:last-child) {
      margin-right: 1rem;
    }
    &:hover {
      border-bottom: 1px solid $color-grey-dark-2;
    }
  }
  &__body {
    display: grid;
    grid-template-columns: 1fr 1fr;
    row-gap: 1rem;
    column-gap: 1rem;
    @media only screen and (min-device-width: 375px) and (max-device-width: 480px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: portrait) {
      grid-template-columns: 1fr;
      grid-template-rows: repeat(auto-fit, 1fr);
      column-gap: 0;
      row-gap: 0.5rem;
    }
  }
  &__image-wrapper {
    align-self: center;
    max-width: 71.5rem;
    height: 48rem;
    grid-column: 1/2;
    grid-row: 1/2;
    overflow: hidden;
    @media only screen and (min-device-width: 375px) and (max-device-width: 480px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: portrait) {
      height: 24rem;
      grid-row: 2/3;
    }
  }
  &__image {
    width: 100%;
    height: 100%;
    grid-column: 1/5;
    border-radius: 0.5rem;
    object-fit: cover;
    object-position: center;
  }
  &__stock {
    grid-column: 1/3;
    font-size: 1.6rem;
    color: $color-cta;
    justify-self: center;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    &--out {
      color: $color-alert;
    }
  }

  &__name {
    font-family: $font-special;
    grid-column: 1/2;
    align-self: center;
    justify-self: center;
    @media only screen and (min-device-width: 375px) and (max-device-width: 480px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: portrait) {
      grid-column: 1/2;
      grid-row: 1/2;
      align-self: center;
      font-size: 1.4rem;
    }
  }
  &__price {
    font-family: $font-secondary;
    display: grid;
    column-gap: 2rem;
    row-gap: 2rem;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 1fr);
    width: 100%;
    grid-row: 1/2;
    grid-column: 2/3;
    @media only screen and (min-device-width: 375px) and (max-device-width: 480px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: portrait) {
      grid-column: 1/2;
      grid-row: 5/6;
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: repeat(3, 1fr);
      column-gap: 1rem;
      row-gap: 1rem;
    }
    &--title {
      font-size: 2.4rem;
      justify-self: center;
      align-self: center;
    }
    &--value {
      font-size: 2.4rem;
      color: $color-alert;
      font-weight: 600;
      grid-column: 4/5;
      align-self: center;
      justify-self: center;
      @media only screen and (min-device-width: 375px) and (max-device-width: 480px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: portrait) {
        grid-column: 2/3;
        grid-row: 1/2;
      }
    }
  }
  &__quantity-selector {
    grid-column: 3/5;
    grid-row: 2/3;
    align-self: center;
    justify-self: center;
    @media only screen and (min-device-width: 375px) and (max-device-width: 480px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: portrait) {
      grid-column: 1/3;
      grid-row: 2/3;
    }
    &--text {
      font-size: 1.6rem;
      margin-right: 1rem;
    }
    &--selection {
      width: 6rem;
      height: 4rem;
      padding: 1rem;
      border: 2px solid $color-primary;
      border-radius: 0.5rem;
    }
    &--option {
      background-color: $color-grey-light;
    }
  }
  &__button {
    grid-column: 2/4;
    grid-row: 4/5;
    height: 50%;
    width: 100%;
    align-self: center;
    justify-self: center;
    border-radius: 0.25rem;
    @include custom-btn;
    @media only screen and (min-device-width: 375px) and (max-device-width: 480px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: portrait) {
      grid-column: 1/3;
      grid-row: 4/5;
      height: 100%;
      width: 50%;
      padding: 1rem;
    }
    &:active {
      transform: translateY(0.2rem);
    }
    &:focus {
      border: none;
      outline: none;
    }
    &--icon {
      margin-right: 0.5rem;
      font-size: 2rem;
    }
  }
  &__button-disabled {
    @include custom-btn-disabled;
    letter-spacing: 1px;
    grid-column: 2/4;
    grid-row: 4/5;
    height: 50%;
    width: 50%;
    align-self: center;
    justify-self: center;
    border: 1px solid transparent;
    border-radius: 0.25rem;
    @media only screen and (min-device-width: 375px) and (max-device-width: 480px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: portrait) {
      grid-column: 1/3;
      grid-row: 4/5;
      height: 100%;
      width: 50%;
      padding: 1rem;
    }
  }
  &__rating {
    grid-row: 2/3;
    grid-column: 2/3;
    align-self: center;
    justify-self: center;
    @media only screen and (min-device-width: 375px) and (max-device-width: 480px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: portrait) {
      grid-column: 1/2;
      grid-row: 3/4;
    }
  }
  &__add-favorite {
    grid-row: 3/4;
    grid-column: 1/2;
    display: flex;
    align-items: center;
    justify-content: center;
    &--text {
      color: $color-grey-dark-2;
      font-weight: 600;
      letter-spacing: 0.1rem;
      font-family: $font-special;
      font-size: 1.2rem;
      margin-right: 1rem;
    }
    @media only screen and (min-device-width: 375px) and (max-device-width: 480px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: portrait) {
      grid-column: 1/2;
      grid-row: 4/5;
    }
  }
  &__heart {
    cursor: pointer;
    font-size: 2rem;

    color: rgba($color: rgb(187, 187, 187), $alpha: 0.8);
    &--selected {
      color: rgba($color: $color-alert, $alpha: 0.8);
    }
  }
  &__details {
    grid-row: 4/5;
    grid-column: 1/3;
    margin-top: 2rem;

    &--text {
      font-size: 1.6rem;
    }
    @media only screen and (min-device-width: 375px) and (max-device-width: 480px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: portrait) {
      grid-column: 1/2;
      grid-row: 6/7;
    }
  }
}
