.my-orders {
  &__item-show-toggler {
    width: 100%;

    font-size: 1.4rem;
    padding: 1rem 2rem;
    &--toggler {
      display: flex;
      align-items: center;
      cursor: pointer;
      width: fit-content;
      color: $color-link;
      &:hover {
        color: $color-primary;
      }
    }
    &--link {
      cursor: pointer;
      color: $color-link !important;
      &:hover {
        color: $color-primary !important;
      }
    }
  }
  &__items-grid {
    border-bottom-left-radius: 0.5rem;
    border-bottom-right-radius: 0.5rem;
    padding: 1rem;
    margin: 1rem 2rem;
    display: grid;
    grid-template-columns: 60% 35%;
    column-gap: 5%;
    box-shadow: $shadow-normal;
    @include respond(phone) {
      grid-template-columns: 1fr;
      column-gap: 0;
    }
  }
  &__item {
    cursor: pointer;
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    border-radius: 0.5rem;
  }
  &__image {
    transition: $transition;
    transform: scale(1);
    &:hover {
      transform: scale(0.9);
    }
    &--container {
      width: 18rem;
      display: flex;
      align-items: center;
      justify-content: center;
    }

    width: auto;
    height: 10rem;
    object-fit: contain;
  }
  &__item-details {
    font-size: 1.2rem;
    width: 100%;
    &--title {
      font-size: 1.2rem;
      &:hover {
        color: $color-primary;
      }
    }
    &--price {
      font-size: 1.6rem;
    }
  }
  &__btn-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    &--btn {
      @include custom-btn-secondary;
      @include respond(phone) {
        margin-bottom: 1rem;
        width: 100%;
      }
    }
  }
  &__reviewd {
    border: 1px solid $color-grey-light-1;
    background-color: white;
    color: $color-grey-dark-2;
    width: 45%;
    font-size: 1.4rem;
    border-radius: 0.5rem;
    padding: 0.5rem 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    @include respond(phone) {
      font-size: 1.8rem;
      width: 100%;
      padding: 1rem;
      margin-bottom: 1rem;
    }
  }
}
