@import "../../sass/base";

.my-orders {
  &__item-show-toggler {
    width: 100%;

    font-size: 1.4rem;
    padding: 1rem 2rem;
    &--toggler {
      display: flex;
      align-items: center;
      cursor: pointer;
      width: fit-content;
      color: $color-link;
      &:hover {
        color: $color-primary;
      }
    }
    &--link {
      cursor: pointer;
      color: $color-link !important;
      &:hover {
        color: $color-primary !important;
      }
    }
  }
  &__items-grid {
    border-bottom-left-radius: 0.5rem;
    border-bottom-right-radius: 0.5rem;
    padding: 1rem;
    margin: 1rem 2rem;
    display: grid;
    grid-template-columns: 60% 35%;
    column-gap: 5%;
    box-shadow: $shadow-normal;
  }
  &__item {
    cursor: pointer;
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    border-radius: 0.5rem;
  }
  &__image {
    &--container {
      width: 18rem;
      display: flex;
      align-items: center;
      justify-content: center;
    }

    width: auto;
    height: 10rem;
    object-fit: contain;
  }
  &__item-details {
    font-size: 1.2rem;
    width: 100%;
    &--title {
      font-size: 1.2rem;
      &:hover {
        color: $color-primary;
      }
    }
    &--price {
      font-size: 1.6rem;
    }
  }
  &__btn-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    &--btn {
      @include custom-btn-secundary;
    }
  }
  &__reviewd {
    border: 1px solid $color-grey-light-1;
    background-color: white;
    color: $color-grey-dark-2;
    width: 45%;
    font-size: 1.4rem;
    border-radius: 0.5rem;
    padding: 0.5rem 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
