@import "../../sass/base";

.my-orders {
  &__order {
    margin-bottom: 1rem;
    &--header {
      display: flex;
      align-items: center;
      flex-wrap: wrap;

      justify-content: space-between;
      background: $color-grey-light-1;
      border-top-left-radius: 0.5rem;
      border-top-right-radius: 0.5rem;
      padding: 1rem 2rem;
      &__text {
        font-size: 1.4rem;
        display: flex;
        flex-direction: column;
      }
      &__flex {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 50%;
        flex-wrap: wrap;
      }
    }
  }
  &__item-show-toggler {
    background: $color-grey-light-1;

    width: 100%;

    font-size: 1.4rem;
    padding: 1rem 2rem;
    &--toggler {
      display: flex;
      align-items: center;
      cursor: pointer;
      width: fit-content;
      color: $color-link;
      &:hover {
        color: $color-primary;
      }
    }
    &--link {
      cursor: pointer;
      color: $color-link !important;
      &:hover {
        color: $color-primary !important;
      }
    }

    &--dropdown-arrow {
      transform: translateY(1rem);
      color: $color-primary;
      transition: transform 0.2s;
    }
    &--dropdown-arrow-revert {
      transition: transform 0.2s;
    }
  }
  &__items-grid {
    animation: 0.2s slideDown ease;
    justify-items: center;
    transform-origin: top;
    background: $color-grey-light-1;

    border-bottom-left-radius: 0.5rem;
    border-bottom-right-radius: 0.5rem;
    padding: 1rem 2rem;

    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(23rem, 1fr));
    column-gap: 1rem;
  }
  &__item {
    width: 22rem;
    box-shadow: $shadow-normal;
    border-radius: 0.5rem;
    background: white;
    padding: 0.5rem;
    transition: box-shadow 0.2s;
    &:hover {
      box-shadow: none;
    }
  }
  &__image {
    cursor: pointer;
    width: 21rem;
    height: 15rem;
    object-fit: cover;
  }
  &__item-details {
    font-size: 1.2rem;
    &--title {
      cursor: pointer;
      font-size: 1.2rem;
      &:hover {
        color: $color-primary;
      }
    }
  }
}

@keyframes slideDown {
  from {
    transform: scaleY(0);
  }
  to {
    transform: scaleY(1);
  }
}
