.add-address {
  &__input {
    margin-top: 0.5rem;
    margin-bottom: 0.75rem;
    font-family: $font-primary;
    line-height: 1;
    font-size: 1.4rem;
    padding: 0.5rem;
    width: 50%;
    border: none;
    border: 1px solid $color-primary;
    background-color: $color-grey-light-1;
    border-radius: 0.5rem;
  }
  &__label {
    font-size: 1.6rem;
    font-weight: bold;
    color: $color-grey-dark-2;
    display: block;
  }
  &__form-container {
    animation: fadeIn 0.8s;
  }
  &__input-btn {
    @include custom-btn;
    padding: 1rem 2rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
  }
}
