.login-screen {
  &__form-container {
    width: 25%;
    margin: 0 auto;
    margin-top: 10rem;
  }
  &__form {
    display: flex;
    flex-direction: column;
    padding: 1rem;
    &--input-label {
      font-size: 1.6rem;
      font-family: $font-special;
      padding-top: 0.75rem;
      padding-bottom: 0.2rem;
    }
    &--input {
      border: 1px solid $color-primary;
      padding: 0.75rem;
    }
    &--submit-btn {
      @include custom-btn;
      margin-top: 2rem;
      padding: 1rem;
    }
  }
  &__create-account-link {
    color: rgb(0, 116, 211) !important;
    font-size: 1.2rem;
    font-weight: bold;
    margin-left: 1rem;
    transition: $transition;
    &:hover {
      color: $color-cta !important;
    }
  }
}
