@import "../../sass/base";

.order-screen {
  background: white;

  padding: 1rem 2rem;
  border-radius: 0.5rem;

  &__grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(20rem, 1fr));
    row-gap: 1rem;
    column-gap: 1rem;
  }

  &__section-title {
    font-size: 1.6rem;
    color: $color-primary-dark;
    font-weight: 800;
  }
  &__middle-text {
    font-size: 1.3rem;
    padding: 0.2rem 0.5rem;
  }
  &__products-info {
    display: grid;
    grid-template-columns: 2.5fr 1.5fr;
    column-gap: 1rem;
  }

  &__item {
    display: flex;
    height: 8rem;

    transition: 0.2s ease-in-out;
    margin-right: 4rem;
  }
  &__image {
    width: 11rem;
    height: 8rem;
    object-fit: contain;
    object-position: center;
    cursor: pointer;
  }
  &__item-details {
    padding: 0.5rem 2rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background: $color-grey-light-1;
    &:hover {
      box-shadow: $shadow-normal;
    }
    &--title {
      font-family: $font-primary;
      font-weight: 400;
      font-size: 1.4rem;
      cursor: pointer;
      transition: all 0.1s;
      color: $color-primary-dark;
      &:hover {
        color: $color-primary;
      }
    }
    &--price {
      color: $color-primary-dark;
    }
  }
  &__payment {
    background: $color-grey-light-1;
    padding: 0.5rem 1rem;
    box-shadow: $shadow-normal;
    border-radius: 0.5rem;
    height: fit-content;
  }
  &__summary {
    display: grid;
    grid-template-columns: 1fr 1fr;
    row-gap: 0.5rem;
    align-items: center;
    &--total {
      color: $color-cta;
      padding: 0.2rem 0.5rem;
    }
  }
  &__status-fail-message {
    color: $color-alert;
    background-color: rgba($color: $color-alert, $alpha: 0.15);
    padding: 0.2rem 0.5rem;
    font-size: 1.6rem;
    border-radius: 0.5rem;
  }
  &__status-success-message {
    color: $color-pallete-2;
    background-color: rgba($color: $color-pallete-2, $alpha: 0.15);
    padding: 0.2rem 0.5rem;
    font-size: 1.6rem;
    border-radius: 0.5rem;
  }
}
