.footer {
  font-size: 1.6rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-evenly;
  height: 40rem;

  &__flex {
    display: flex;
    flex-direction: column;
  }
  &__top {
    height: 10rem;
    background-color: $color-pallete-4;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 2rem 12rem;
  }
  &__icon {
    font-size: 4rem;
    color: $color-pallete-1;
    margin-left: 2rem;
    cursor: pointer;
    transition: $transition;
    &:hover {
      color: $color-cta;
    }
  }
  &__bottom {
    width: 100%;
    height: 100%;
    display: grid;
    padding: 1rem;
    grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
    column-gap: 2rem;
    color: $color-pallete-1;
    align-items: center;
    justify-items: center;
    background-color: $color-grey-dark-2;
  }
}
