@import "../../sass/base";

.footer {
  font-size: 1.6rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  height: 40rem;
  &__flex {
  }
  &__top {
    height: 10rem;
    background-color: $color-green-4;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 2rem 12rem;
  }
  &__icon {
    font-size: 4rem;
    color: $color-yellow-1;
    margin-left: 2rem;
    cursor: pointer;
    transition: all 0.2s;
    &:hover {
      color: $color-green-2;
    }
  }
  &__bottom {
    width: 100%;
    height: 100%;
    display: flex;
    color: $color-yellow-1;
    align-items: center;
    justify-content: space-evenly;
    background-color: $color-grey-dark-2;
  }
}
