@import "../../sass/base";

.profile-addresses {
  width: 100%;

  &__wrapper {
    border-radius: 1rem;
    background-image: linear-gradient(
      to right bottom,
      #ff0bf3,
      #b774ff,
      #5c9bff,
      #00b3ff,
      #00c1ff,
      #00c8f3,
      #00cde2,
      #00d1cd,
      #00d6c6,
      #00dabc,
      #00deb0,
      #21e2a2
    );
  }
  &__text {
    font-size: 1.4rem;
  }
  &__grid {
    margin-top: 4rem;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(30rem, 1fr));
    justify-items: center;
    column-gap: 1rem;
    row-gap: 2rem;
  }
  &__address {
    background-color: white;
    margin: 0.1rem;
    width: 30rem;
    height: 28rem;

    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    &--is-default {
      background-color: $color-grey-light-1;
      width: 100%;
      text-align: center;
      padding: 0.5rem 0;
      box-shadow: $shadow-normal;
    }
    &__title {
      font-size: 1.8rem;
      font-family: $font-special;
    }
    &__bottom-links {
      width: 100%;
      display: flex;
      justify-content: space-evenly;

      &--action {
        color: $color-grey-dark-1 !important;
        display: flex;
        align-items: center;
        width: 45%;
        justify-content: center;
        font-size: 1.4rem;
        border: 1px solid $color-pallete-3;
        border-radius: 0.5rem;
        padding: 0.5rem 1rem;
        cursor: pointer;
        transition: all 0.2s;
        &:hover {
          background-color: $color-pallete-1;
        }
      }
      &--action:active,
      &--action:visited {
        color: $color-grey-dark-1 !important;
      }
    }
  }
  &__btn {
    @include custom-btn;
    padding: 1rem 2rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
  }
  &__add-address {
    cursor: pointer;
    border: 1px solid $color-grey-light-2;
    color: rgba($color: #000000, $alpha: 0.1);
    font-size: 2rem;
    justify-content: space-evenly;
    box-shadow: 0 0 0.5rem rgba($color: $color-primary, $alpha: 0.4);
    background-image: radial-gradient(
      circle,
      #ff0bf3,
      #b774ff,
      #5c9bff,
      #00b3ff,
      #00c1ff,
      #00c8f3,
      #00cde2,
      #00d1cd,
      #00d6c6,
      #00dabc,
      #00deb0,
      #21e2a2
    );
    background-clip: text;
    transition: all 0.3s ease-in-out;
    &:hover {
      box-shadow: $shadow-normal;
      transform: translateY(-0.2rem);
    }
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
