.review {
  background-color: $color-grey-light-1;
  width: 70%;
  margin: 1rem auto;
  padding: 1rem;
  border-radius: 0.5rem;
  @media only screen and (min-device-width: 375px) and (max-device-width: 480px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: portrait) {
    width: 100%;
  }
  &__header {
    display: flex;
    align-items: center;
  }
  &__avatar {
    width: 5rem;
    height: 5rem;
    margin-right: 1rem;
    border-radius: 50%;
  }
  &__created-date {
    font-size: 1.2rem;
    color: $color-cta-2;
    text-align: end;
    margin-bottom: 0.5rem;
  }
  &__comment {
    font-size: 1.4rem;
    color: $color-grey-dark-2;
  }
}
