@import "../../sass/base";

.loader-product {
  display: grid;
  width: 144rem;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  column-gap: 1rem;
  row-gap: 1rem;
  &__left {
    height: 48rem;
    background: linear-gradient(-45deg, white, rgb(236, 236, 236));
    border-radius: 1rem;
    background-size: 400% 400%;
    animation: gradient 1s ease infinite;
  }
  &__right {
    height: 48rem;
    background: linear-gradient(to bottom, white, rgb(243, 243, 243));
    border-radius: 1rem;
    background-size: 400% 400%;
    animation: gradient 1s ease infinite;
  }
  &__bottom-left {
    height: 10rem;
    background: linear-gradient(to top, white, rgb(236, 236, 236));
    border-radius: 1rem;
    background-size: 400% 400%;
    animation: gradient 1s ease infinite;
  }
  &__bottom-right {
    height: 10rem;
    background: linear-gradient(to left, white, rgb(236, 236, 236));
    border-radius: 1rem;
    background-size: 400% 400%;
    animation: gradient 1s ease infinite;
  }
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
