@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,600;1,400;1,600&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Inconsolata:wght@400;600;800;900&display=swap");

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%; /* This way 1rem is 10px */
}
body {
  box-sizing: border-box;
  color: $color-primary-dark;

  line-height: 1.5;
  font-family: $font-primary;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.app-main {
  min-height: 100vh;
  max-width: 95vw;
  width: 144rem;
  margin: 10rem auto;
  @include respond(phone) {
    margin: 14rem auto;
  }
}

a,
a:visited {
  text-decoration: none;
}
a:visited {
  text-decoration: none;
  color: inherit;
}
a:hover {
  text-decoration: none;
  color: inherit;
}
a:focus {
  text-decoration: none;
  color: inherit;
}
a:hover,
a:active {
  text-decoration: none;
  color: inherit;
}
.overlay {
  position: fixed;
  z-index: 19;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  height: 100%;
  background-color: rgba($color: #000000, $alpha: 0.75);
  backdrop-filter: blur(1rem);

  animation: fadein 0.5s ease;
}

.text-center {
  text-align: center;
}
.text-end {
  text-align: end;
}

.line-break {
  margin-top: 2rem;
  margin-bottom: 2rem;
  height: 2px;
  background-image: radial-gradient(
    circle,
    #18cad3,
    #00c0eb,
    #00b2ff,
    #029fff,
    #8285ff,
    #668cff,
    #4591ff,
    #0096ff,
    #00b1ff,
    #00c6f1,
    #00d6cd,
    #21e2a2
  );
}

//!TYPOGRAPHY ===========================================================

%heading {
  font-family: $font-special;
  font-weight: 600;
  letter-spacing: 0.1rem;
}

.heading-1 {
  @extend %heading;
  font-size: 3rem;

  &--light {
    color: $color-pallete-1;
  }
  &--dark {
    color: $color-grey-dark-1;
  }
}
.heading-2 {
  @extend %heading;
  font-size: 2.6rem;

  &--light {
    color: $color-pallete-1;
  }
  &--dark {
    color: $color-grey-dark-1;
  }
}
.heading-3 {
  @extend %heading;
  font-size: 1.8rem;

  color: $color-grey-dark-2;
  text-transform: uppercase;
  font-weight: 600;
}
.heading-4 {
  @extend %heading;
  font-size: 1.6rem;
  font-weight: 600;
  &--light {
    color: $color-pallete-1;
  }
  &--dark {
    color: $color-primary-dark;
  }
  &--center {
    text-align: center;
  }
}

.heading-5 {
  @extend %heading;
  font-size: 1.4rem;
  font-weight: 600;
  &--light {
    color: $color-pallete-1;
  }
  &--dark {
    color: $color-primary-dark;
  }
  &--center {
    text-align: center;
  }
}

.in-stock {
  color: $color-pallete-2;
  font-weight: 400;
  font-size: 1.4rem;
  align-self: center;
}

.out-of-stock-favorites {
  align-self: center;
  color: $color-alert;
  font-weight: 400;
  font-size: 1.4rem;
}

//!PADDINGS AND MARGINS =====================================================
//* Margin Top
.mt-xs {
  margin-top: 1rem;
}
.mt-sm {
  margin-top: 2rem;
}
.mt-md {
  margin-top: 4rem;
}
.mt-lg {
  margin-top: 8rem;
}
//* Margin Bottom

.mb-sm {
  margin-bottom: 2rem;
}

.mb-xs {
  margin-bottom: 1rem;
}
.mb-sm {
  margin-bottom: 2rem;
}

.mb-md {
  margin-bottom: 4rem;
}

.mb-lg {
  margin-bottom: 8rem;
}

//* Margin Left

.ml-sm {
  margin-left: 1rem;
}
.ml-md {
  margin-left: 2rem;
}

//* Margin Right

.mr-sm {
  margin-right: 1rem;
}
.mr-md {
  margin-right: 2rem;
}

.shipping-section {
  min-height: 100vh;
  max-width: 95vw;
  width: 144rem;
  margin: 2rem auto;
}

.price-number {
  font-family: $font-special !important;
}

.gradient-wrapper {
  border-radius: 0.5rem;
  height: fit-content;
  padding: 1px;
  background-image: linear-gradient(
    to right bottom,
    #ff0bf3,
    #b774ff,
    #5c9bff,
    #00b3ff,
    #00c1ff,
    #00c8f3,
    #00cde2,
    #00d1cd,
    #00d6c6,
    #00dabc,
    #00deb0,
    #21e2a2
  );
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.text-alert {
  color: $color-alert;
}

.text-success {
  color: $color-pallete-2;
}

select,
textarea,
input[type="text"],
input[type="password"],
input[type="datetime"],
input[type="datetime-local"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="week"],
input[type="number"],
input[type="email"],
input[type="url"],
input[type="search"],
input[type="tel"],
input[type="color"] {
  @include respond(phone) {
    font-size: 16px;
    padding: 1rem;
  }
}

input {
  -webkit-appearance: none;
}
