@import url("https://fonts.googleapis.com/css2?family=Tenor+Sans&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,300;0,400;0,600;1,400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inconsolata:wght@400;600&display=swap");
@import "./sass/_base.scss";

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%; /* This way 1rem is 10px */
}
body {
  box-sizing: border-box;
  color: $color-primary-dark;

  line-height: 1.5;
  font-family: $font-secondary;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

main {
  min-height: 100vh;
  max-width: 95vw;
  width: 144rem;
  margin: 10rem auto;
}

a,
a:visited {
  text-decoration: none;
  color: inherit;
}

.overlay {
  position: fixed;
  z-index: 4;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  height: 100%;
  background-color: rgba($color: #000000, $alpha: 0.75);
  animation: fadein 0.8s ease;
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
