@import "../../sass/base";

.header {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  height: 8rem;
  z-index: 20;
  background-color: rgba($color: white, $alpha: 0.7);
  backdrop-filter: blur(1rem);
  box-shadow: $shadow-normal;
  transition: all 0.2s;
  &:hover {
    background-color: white;
  }
}
.nav {
  display: flex;
  align-items: center;
  width: 100%;
  height: 100%;

  padding: 0 2rem;

  &__logo-container {
    display: flex;
    align-items: center;
    flex: 1;
    justify-content: flex-start;
  }
  &__logo {
    font-size: 4rem;
    color: $color-cta;
    animation: heartbeat-lower 1s infinite;
  }

  &__title {
    margin-left: 1rem;
    font-size: 2.4rem;
    font-weight: 600;
    line-height: 1;
    font-family: $font-special;
    color: $color-primary;
  }
  &__links-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 1;
  }
  &__link {
    font-size: 1.6rem;
    font-weight: 600;
    line-height: 1;
    padding: 0.5rem 1rem;
    border-bottom: 2px solid transparent;
    border-top: 2px solid transparent;

    z-index: 3;
    &--active {
      border-bottom: 2px solid $color-cta;
      border-top: 2px solid $color-primary;
    }
  }
  &__icons-container {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }
  &__icon {
    cursor: pointer;
    font-size: 3rem;
    color: $color-grey-dark-2;
    transition: all 0.2s;
    &--heart {
      color: $color-grey-dark-2 !important;
      transition: all 0.2s;
      font-size: 2.4rem;
      &--active {
        transform: scale(1.1);
        color: $color-alert !important;
      }
      &:hover {
        transform: scale(1.2);
        color: $color-alert !important;
      }
      &:visited {
        color: $color-alert;
      }
    }
    &--cart {
      position: relative;
    }
    &:hover {
      color: $color-primary;
    }
    &:not(:last-child) {
      margin-right: 2rem;
    }
  }
  &__cart-items-number {
    font-size: 1.5rem;
    background-color: rgba($color: $color-grey-light-2, $alpha: 0.5);
    backdrop-filter: blur(0.1rem);
    box-shadow: $shadow-normal;
    color: $color-cta;
    font-weight: 600;
    padding: 0.2rem;
    line-height: 1;
    width: 2.3rem;
    height: 2.3rem;
    display: inline-block;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    position: absolute;
    bottom: 40%;
    transform: translateY(70%);
    right: -30%;
    transition: all 0.2s ease-in-out;
  }
  &__welcome-message {
    color: $color-primary;
    cursor: pointer;
    display: flex;
    align-items: center;
    font-size: 1.4rem;
  }
}

.dropdown-arrow-class {
  transform: translateY(3rem);
  color: $color-primary;
  transition: all 0.2s;
}
.dropdown-revert {
  transition: all 0.2s;
}

@keyframes heartbeat-lower {
  0% {
    transform: scale(0.85);
  }
  20% {
    transform: scale(1);
  }
  40% {
    transform: scale(0.85);
  }
  60% {
    transform: scale(1);
  }
  80% {
    transform: scale(0.85);
  }
  100% {
    transform: scale(0.85);
  }
}
