@import "../../sass/base";

.header {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  height: 8rem;
  z-index: 20;
  background-color: white;
  box-shadow: $shadow-normal;
}
.nav {
  display: flex;
  align-items: center;
  width: 100%;
  height: 100%;

  padding: 0 2rem;

  &__logo-container {
    display: flex;
    align-items: center;
    flex: 1;
    justify-content: flex-start;
  }
  &__logo {
    font-size: 4rem;
    color: $color-cta;
  }

  &__title {
    margin-left: 1rem;
    font-size: 2.4rem;
    font-weight: 600;
    line-height: 1;
    font-family: $font-special;
    color: $color-primary;
  }
  &__links-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 1;
  }
  &__link {
    font-size: 1.6rem;
    font-weight: 600;
    line-height: 1;
    padding: 0.5rem 1rem;
    border-bottom: 2px solid transparent;
    border-top: 2px solid transparent;

    z-index: 3;
    &--active {
      border-bottom: 2px solid $color-cta;
      border-top: 2px solid $color-primary;
    }
  }
  &__icons-container {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }
  &__icon {
    cursor: pointer;
    font-size: 2.8rem;
    color: $color-grey-dark-2;
    transition: all 0.2s;
    &--cart {
      position: relative;
    }
    &:hover {
      color: $color-primary;
    }
    &:not(:last-child) {
      margin-right: 2rem;
    }
  }
  &__cart-items-number {
    font-size: 1.6rem;
    background-color: $color-yellow-2;
    color: $color-alert;
    font-weight: 600;
    padding: 0.2rem;
    line-height: 1;
    width: 2.2rem;
    height: 2.2rem;
    display: inline-block;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    position: absolute;
    bottom: 50%;
    transform: translateY(70%);
    right: -20%;
  }
}
