@import "../../sass/base";

.favorite-screen {
  &__item-count {
    text-align: center;
  }
  &__image-wrapper {
    height: 12rem;
    width: 20rem;
    overflow: hidden;
  }
  &__item {
    display: flex;
    align-items: center;
    width: 100%;
    height: 12rem;
    margin-bottom: 2rem;
  }
  &__image {
    width: 100%;
    height: 12rem;
    object-fit: cover;
    object-position: center;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
    &:hover {
      transform: scale(1.1);
    }
  }
  &__item-details {
    z-index: 1;
    width: 98%;
    height: 100%;
    margin-left: 2%;
    display: grid;
    grid-template-columns: 70% 30%;
    grid-template-rows: 1fr 1fr 1fr;
    column-gap: 0.5rem;
    position: relative;
    overflow: hidden;
    &::after {
      z-index: 0;
      content: "";
      position: absolute;
      width: 100%;
      height: 100%;
      border-top: 1px solid $color-cta;

      transform: translateX(-100%);
      transition: all 0.4s ease-in-out;
    }
    &::before {
      z-index: 0;
      content: "";
      position: absolute;
      width: 100%;
      height: 100%;

      border-bottom: 1px solid $color-primary;
      transform: translateX(100%);
      transition: all 0.4s ease-in-out;
    }

    &--title {
      grid-row: 2/3;
      grid-column: 1/2;
      line-height: 1;
      font-size: 1.6rem;
      align-self: center;
    }
    &--price {
      grid-column: 2/3;
      grid-row: 2/3;
      align-self: center;
    }
  }
  &__remove {
    z-index: 2;
    cursor: pointer;
    color: $color-alert;
    font-size: 1.4rem;
    grid-column: 1/2;
    grid-row: 3/4;
    align-self: center;
    justify-self: start;
    display: flex;
    align-items: center;
  }
}

.favorite-screen__product-container:hover
  .favorite-screen__item-details::after {
  transform: translateX(0);
}
.favorite-screen__product-container:hover
  .favorite-screen__item-details::before {
  transform: translateX(0);
}
