.product {
  z-index: 3;
  border: 1px solid $color-grey-light-1;
  background-color: white;
  padding: 2rem 1rem;
  height: 34rem;
  width: 25rem;
  border-radius: 1rem;
  box-shadow: none;
  transition: $transition;
  position: relative;
  &:hover {
    box-shadow: $shadow-normal;
  }
  @include respond(phone) {
    width: 90%;
  }
  &__discount-message {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 6rem;
    height: 4rem;
    background-color: $color-pallete-5;
    padding: 0.2rem;
    font-weight: 600;
    color: $color-alert;
    border-radius: 1rem;
    font-size: 1.6rem;
    position: absolute;
    top: 0rem;
    left: 0;
    z-index: 5;
  }
  &__card {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    cursor: pointer;
    justify-content: space-between;
  }
  &__image-container {
    width: 100%;
    height: 18rem;
    overflow: hidden;
    border-radius: 1rem;
  }

  &__heart {
    cursor: pointer;
    font-size: 2rem;
    position: absolute;
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    top: 2rem;
    right: 2rem;
    color: $color-grey-light-2;
    background-color: white;
    padding: 0.5rem;
    &:hover {
      box-shadow: $shadow-normal;
    }
    &--selected {
      color: rgba($color: rgb(253, 62, 62), $alpha: 0.8);
    }
  }
  &__image {
    width: 100%;
    height: 100%;
    border-radius: 1rem;
    object-fit: contain;
    object-position: center;
    transition: $transition;
  }
  &:hover &__button {
    bottom: 0;
  }
  &:hover &__image {
    transform: scale(0.9);
  }
  &:hover &__title {
    color: $color-primary;
  }

  &__title {
    text-decoration: none;
    color: $color-grey-dark-2;
    padding-top: 1.5rem;
    padding-bottom: 0.5rem;
    font-size: 1.2rem;
    font-weight: 600;
    font-family: $font-primary;
    height: 40%;
    transition: $transition;
  }
  &__center {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &__rating-text {
    font-size: 1.4rem;
    margin-right: 1rem;
    color: $color-primary-dark;
    font-weight: 400;
  }
  &__bottom {
    width: 100%;
    display: flex;
    justify-content: space-between;
  }
  &__price-text {
    font-size: 1.4rem;
    color: $color-primary-dark;
    font-weight: 400;
  }
}

.out-of-stock {
  position: relative;

  &::after {
    content: "OUT OF STOCK";
    border-radius: 0.5rem;
    width: 75%;
    height: fit-content;
    position: absolute;
    top: 14rem;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    background-color: $color-alert;
    z-index: 4;
    font-size: 1.6rem;
    font-weight: 600;
    color: black;
    box-shadow: $shadow-normal;
  }
}
