@import "../../sass/base";

.product {
  z-index: 3;
  border: 1px solid transparent;
  background-color: white;
  padding: 0.5rem;
  height: 34rem;
  width: 26rem;
  border-radius: 1rem;
  // box-shadow: $shadow-normal;
  transition: all 0.2s;

  position: relative;
  &__card {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    cursor: pointer;
    justify-content: space-between;
  }
  &__image-container {
    width: 100%;
    height: 18rem;
    overflow: hidden;

    border-radius: 1rem;
  }

  &__heart {
    cursor: pointer;
    font-size: 2rem;
    position: absolute;
    top: 2rem;
    right: 2rem;
    color: rgba($color: white, $alpha: 0.8);
    &--selected {
      color: rgba($color: rgb(253, 62, 62), $alpha: 0.8);
    }
  }
  &__image {
    width: 100%;
    height: 100%;
    border-radius: 1rem;
    object-fit: cover;
    object-position: center;
    transition: all 0.2s;
  }
  &:hover &__button {
    bottom: 0;
  }
  &:hover &__image {
    transform: scale(1.2);
  }
  &:hover &__title {
    color: $color-cta;
  }
  &:hover {
    transform: $translate-hover;
    box-shadow: $shadow-normal-hover;
  }
  &__title {
    text-decoration: none;
    color: $color-primary-dark;
    padding-top: 0.75rem;
    padding-bottom: 0.5rem;
    border-bottom: 1px solid rgb(221, 221, 221);
    height: 15%;
    transition: all 0.2s;
  }
  &__center {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &__rating-text {
    font-size: 1.4rem;
    margin-right: 1rem;
    color: $color-grey-dark-2;
    font-weight: 400;
  }
  &__bottom {
    width: 100%;
    display: flex;
    justify-content: space-between;
  }
  &__price-text {
    font-size: 1.4rem;
    color: $color-grey-dark-2;
    font-weight: 400;
  }
}

.out-of-stock {
  border: 1px solid $color-alert;
  position: relative;
  &::after {
    content: "OUT OF STOCK";
    border-radius: 0.5rem;
    width: 75%;
    height: fit-content;
    position: absolute;
    top: 50.5%;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    background-color: $color-alert;
    z-index: 4;
    font-size: 1.6rem;
    font-weight: 600;
    color: black;
    box-shadow: $shadow-normal;
  }
}
