@import "../../sass/base";

.edit-address {
  animation: fadeIn 0.2s ease-in-out;
  position: fixed;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  background: rgba($color: #000000, $alpha: 0.6);
  backdrop-filter: blur(1rem);
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: 0 auto;
  width: 100vw;
  height: 100vh;
  z-index: 30;
  &__close {
    font-size: 3rem;
    cursor: pointer;
    color: $color-cta;
    align-self: flex-end;
    transition: 0.5s all;
    &:hover {
      transform: rotate(180deg);
    }
  }
  &__form-container {
    max-width: 90vw;
    width: 80rem;

    background: white;
    box-shadow: $shadow-normal;
    padding: 2rem;
    border-radius: 0.5rem;
    display: flex;
    flex-direction: column;
  }

  &__input {
    width: 100% !important;
  }
  &__input-btn {
    @include custom-btn;
    width: fit-content;
    align-self: center;
    padding: 1rem 6rem;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0.2;
  }
  to {
    opacity: 1;
  }
}
