.profile-sidebar {
  width: 98%;
  margin-right: 2%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  @include respond(phone) {
    width: 100%;
    margin-right: 0;
    border-bottom: 1px solid $color-grey-light-1;
  }
  &__options {
    font-size: 1.6rem;
    color: $color-grey-dark-2;
    padding: 0.5rem 2rem;
    transition: $transition;
    @include respond(phone) {
      &:not(:last-child) {
        margin-bottom: 1rem;
        font-size: 2rem;
      }
    }
    &:hover {
      color: $color-cta !important;
    }
    &:active,
    &:visited {
      color: $color-grey-dark-2;
    }
  }
  &__active-link {
    color: $color-cta-2 !important;
    position: relative;
    display: flex;
    align-items: center;
    &::before {
      content: ">";
      display: inline-block;
      vertical-align: middle;
      font-size: 2rem;
      line-height: 1;
      width: fit-content;
      margin-right: 1rem;
    }
  }
}
