@import "../../sass/base";

.profile-sidebar {
  width: 18%;
  margin-right: 2%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  &__options {
    font-size: 1.6rem;
    color: $color-grey-dark-2;
    padding: 0.5rem 2rem;
    transition: all 0.2s;
    &:hover {
      color: $color-cta !important;
    }
    &:active,
    &:visited {
      color: $color-grey-dark-2;
    }
  }
  &__active-link {
    color: $color-primary !important;
  }
}
